/* Colores */
$violeta_oscuro: hsla(255, 100%, 20%, 1);
$violeta_claro: hsla(255, 100%, 83%, 0.2);
$amarillo: hsla(43, 100%, 51%, 1);
$marron: hsla(43, 100%, 18%, 0.65);
$marron_oscuro: hsla(43, 100%, 18%, 0.9);

/* Breakpoint */
$breakpoint: 1080px;